# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea
# Build
build
tools/bin/*
examples/build/*
docs/_build
docs/tutorial
dist
tools-stamp
vendor

# Data - ideally these don't exist
baseapp/data/*
client/lcd/keys/*
cmd/gaiacli/statik/statik.go
mytestnet
dev/testnet/cache
# Testing
coverage.txt
profile.out
cache

# Vagrant
.vagrant/
*.box
*.log
vagrant

# IDE
.idea/
*.iml
*.yaml
# Graphviz
dependency-graph.png

# Latex
*.aux
*.out
*.synctex.gz
contract_tests/*
dev/cache/*
*.json
